* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    background-color: #000000;
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

.flex {
    display: flex;
}

.header, .header-menu li:hover {
    box-shadow: 0px 0px 8px #000000;
    transform: scale(1.05);
    transition: .2s;
}


.topo-do-site .btn-contato button:hover {
    box-shadow: 0px 0px 8px #ffffff;
    transform: scale(1.05);
}

.container {
    max-width: 1280px;
    margin: auto;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 30px 0px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}


header {
    background: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px;
}

.logo {
    width: 247px;
    height: 87px;
}


header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 50px;
}

header ul li a {
    color: #ffffff;
    background-color: #191970;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}


.banner {
    background-image: url(img/banckground-menu.jpg);
    background-size: cover;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 64px;
    color: #191970;;
}

.banner h1 span {
    color: 	#ffffff;
}

/* style body da página*/

.coluna {
    padding: 20px 10px;
}

.img-coluna {
    text-align: center;
}

.img-site1, .img-site3, .img-site2 {
    object-fit: contain;
    width: 600px;
    height: 500px;
}

section.topo-do-site {
    padding: 20px 10px;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 500px;
}


.topo-do-site .txt-topo-site h2 {
    color: #ffffff;
}

.topo-do-site .txt-topo-site p {
    color: #ffffff;
    margin: 40px 0px;
    font-size: 20px;
}

.topo-do-site .btn-contato button {
    width: 160px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #191970;
    color: #ffffff;
    cursor: pointer;
    transition: .2s;
    font-size: 15px;
}

.btn-contato a {
    margin: 10px;
}


/* footer da página*/

footer {
    letter-spacing: 1px;
    width: 100%;
    color: #000000;
}

#footer-link {
    text-decoration: none;
}

#footer-content {
    align-items: center;
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 100px 56px;
}

#footer-contatos h1 {
    margin-bottom: 0.75rem;
}

#footer-social {
    display: flex;
    gap: 3.9rem;
    margin-top: 1.5rem;
}

#footer-social .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.9rem;
    width: 2.9rem;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social .footer-link i {
    font-size: 1.30rem;
}

#footer-social .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background: #4267b3;
}

#whatsapp {
    background: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #000000;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #ffd700;
}

#footer-direitos {
    display: flex;
    background: #000;
    justify-content: center;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/*Form do site*/

.container {
    max-width: 1280;
    margin: 0 auto;
}

form {
    background: #ffffff;
    max-width: 450px;
    height: 400px;
    padding: 10px 10px;
    border-radius: 20px;
}

form h2 {
    text-align: center;
    font-size: 25px;
    color:  #2d5966;
}

form p {
    font-size: 15px;
    text-align: center;
    margin: 20px 0;
    color:  #2d5966;
}

textarea {
    font-size: 15px;
    padding: 8px 0px;
    height: 150px;
    border: 0px;
    width: 100%;
    border-bottom: 2px  solid  #2d5966;
  }

.input-single {
    position: static;
    margin: 30px 0;
}

.input-single label {
    position: static;
    left: 0;
    bottom: 5px;
    transition: all 0.2s;
    cursor: text;
}

.input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid  #2d5966;
    padding: 8px 0px;
    font-size: 18px;
    outline: none;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label {
    transform: translateY(-24px);
    font-size: 12px;
    color: #2d5966;
}

.btn {
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background: #191970;
    color: #ffffff;
    cursor: pointer;
}
